body {
    font-family: 'Roboto', sans-serif;
    background: #F3F1F3;
}

.body-wrapper{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
}

.timer{
    border: 5px solid;
    border-color: #F3F1F3;
    /* color: #4895D9; */
    border-radius: 2rem;
    padding: 6vh;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
    left: auto;
    top: auto;
    right: auto;
    width: 50%;
    margin: 0 auto;
}

.timers{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

.timers div{
    cursor: pointer;
}

.timer-active{
    font-size: 3rem;
    border: 5px solid #04BF68;
    border-radius: 5px;
    color: #04BF68;
    padding: 6vh;
    transition: all 1s ease-in-out;
}

.timer-inactive{
    font-size: 2rem;
    padding: 1rem;
    color: auto;
    padding: auto;
    border: none;
    transition: all 1s ease-in-out;
}

.set-timers{
    border-color: #04BF68;
    color: #04BF68;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.timer-three{
    border-color: #E8B163;
    color: #E8B163;
}

.timer-stopped {
    border: 5px solid red;
    color: red;
}


.sets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.set-no{
    border-radius: 2rem;
    padding: 6vh;
    font-size: 3rem;
    font-weight: bold;
    border: 5px solid #E8B163;
    text-align: center;
    cursor: pointer;
}

.set-complete{
    background: #E8B163;
}